replicaCount: 1

image:
  repository: anthonyraymond/joal
  tag: latest
  pullPolicy: IfNotPresent

dnsPolicy: "None"

env:
  - name: KEY
    value: "VALUE"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - joal.example.org
  tls:
    - secretName: joal.example.org
      hosts:
        - joal.example.org

volumes:
  - name: myvolume
    persistentVolumeClaim:
      claimName: myvolume

volumeMounts:
  - name: myvolume
    mountPath: "/data"
    subPath: "configs/transmission-data"

podSecurityContext: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
